<div class="container mt-5 mb-5">

    <h1 class="text-center">About</h1>

    <p>
        My kitchen is completely functional. It is the loneliest place in my entire home.

        Though I am not that good in cooking but I take proper care that all the appliances are aligned properly and the kitchen is cleaned up. I never allow anybody to enter my kitchen wearing shoes.
        <br/>
        I ask them to open their shoes before entering the kitchen because I like to keep my kitchen area clean and tidy. I have changed the interior of my kitchen 6 months ago. I hired an interior designer who has given a totally new appearance to my kitchen.
        <br/>
        It has golden brown cabinets with 2 double doors. I prefer keeping bowls, cups, saucers, dishes and other utensils in the cabinet on one side & spices, tea, oatmeal, sugar along with big boxes extra eateries on the other side separately.


        <br/>
    </p>

</div>